html{
  background-color: black;
  font-family: Verdana;
  font-weight: normal;
  color: White;
  text-align: center;
}

.discover{
  font-size: 50px;
}
.link{
  color: Aquamarine;
  font-size: 16px;
}
.copyright{
  text-align: right;
}
